# ignore the .DS_Store file
.DS_Store
c++-projects/ch04/prime_number
*/*/*.cod
*/*/readfile
*/*/*.o
*/*/prac_stream
*/*/pass_ss
*/*/Makefile
*/*/makefile
*/*/calculator_main
*/*/html_reader
*/*/fight
*/*/abs_main
*/*/prac_template_main
*/*/prac_ih
*/*/prac_node
*/*/prac_it
*/*/prac_cl_main
*/*/filereader
*/*/prac_containers
Pipfile
Pipfile.lock
MyPlayground101.playground
hello
variables
*/*/ch00/build
*/*/ch01/build
*/*/ch02/build
*/*/howdy/build
