@{
    Layout = null;
}
<!DOCTYPE html>
    <html>
        <head>
            <meta name= content=width=device-width />
            <title>Index</title>
        </head>
        <body>
            <div>
                <h2>Hello, World (From View)</h2>
            </div>
        </body>
    </html>
