@{
    Layout = null;
}
<!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content=width=device-width />
            <title>Index</title>
        </head>
        <body>
            <div>
                <h2>@ViewBag.Greeting! World (From View)!</h2>
                <p>We are going to have exciting Party!<br/>
                (Sell it better. Add some pictures later.)
                </p>
            </div>
        </body>
    </html>
